
@model Shoper.Management.Models.ViewModels.loginViewModel
@{
	Layout = null;
	var ReturnUrl = @Context.Request.Query["ReturnUrl"];
}

<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
	<title>Shoppy an Admin Panel Category Flat Bootstrap Responsive Website Template | Signup :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
	<!-- Custom Theme files -->
	<link href="~/css/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!--js-->
	<script src="~/plugins/bower_components/jquery/dist/jquery.min.js"></script>
	<!--icons-css-->
	<link href="~/css/css/font-awesome.css" rel="stylesheet">
	<!--Google Fonts-->
	<link href='//fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
	<!--//charts-->
</head>
<body>
	<!--inner block start here-->
	<div class="login-page">
		<div class="login-main">
			<div class="login-head">
				<h1>Login</h1>
			</div>
			<div class="login-block">
				<form asp-action="Login" asp-route-ReturnUrl="@ReturnUrl">
					<div asp-validation-summary="All" class="text-danger"></div>
					<input asp-for="Email" type="text"  placeholder="Eposta" required="">
					<input asp-for="Password" type="password"  class="lock" placeholder="Password">
					<div class="forgot-top-grids">
						<div class="forgot-grid">
							<ul>
								<li>
									<input asp-for=RememberMe type="checkbox"  value="">
									<label for="brand1"><span></span>Beni Hatırla</label>
								</li>
							</ul>
						</div>
						<div class="forgot">
							<a href="#">Şifre Unuttum?</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<input type="submit" name="Sign In" value="Login">
					<h3>Not a member?<a href="signup.html"> Üyelik</a></h3>
					<h2>or login with</h2>
					<div class="login-icons">
						<ul>
							<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</form>
				<h5><a href="index.html">Go Back to Home</a></h5>
			</div>
		</div>
	</div>
	<!--inner block end here-->
	<!--copy rights start here-->
	<div class="copyrights">
		<p>© 2016 Shoppy. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
	</div>
	<!--COPY rights end here-->
	<!--scrolling js-->
	<script src="~/js/js/jquery.nicescroll.js"></script>
	<script src="~/js/js/scripts.js"></script>
	<!--//scrolling js-->
	<script src="~/bootstrap/dist/js/bootstrap.js"> </script>
	<!-- mother grid end here-->
</body>
</html>





