@using Shoper.Entities;
@model Customer
@{
    ViewData["Title"] = "MyProfile";
}

<div class="container">
    <div class="row">
        <!-- Left Menu -->
        <div class="col-sm-3 filter">
            <div class="item">
                <div class="controls">
                    <div class="checkbox-group" data-status="inactive">
                        <a data-url="MyOrders" asp-action="MyOrders" class="btn btn-danger">Siparişlerim</a>
                    </div>
                    <br />
                    <div class="checkbox-group" data-status="active">
                        <a data-url="MyWishList" asp-action="MyWishList" class="btn btn-danger">Favorilerim</a>
                    </div>
                    <br />
                    <div class="checkbox-group" data-status="inactive">
                        <a data-url="MyCoupons" asp-action="MyCoupons" class="btn btn-danger">Kuponlarım</a>
                    </div>
                    <br />

                    <div class="checkbox-group" data-status="inactive">
                        <a data-url="MyProfile" asp-action="MyProfile" class="btn btn-danger">Profilim</a>
                    </div>
                    <br />
                    <div class="checkbox-group" data-status="inactive">
                        <a data-url="MyAddresses" asp-action="MyAddresses" class="btn btn-danger">Adreslerim</a>
                    </div>

                </div>
            </div>
        </div>
        <!--Right Content-->
        <div class="col-sm-9">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="MyProfile">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">

                            <input type="hidden" asp-for="CustomerId" class="form-control" />
                            <span asp-validation-for="CustomerId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone" class="control-label"></label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Değişikliği kaydet" class="btn btn-success" />
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var loc = window.location.pathname;
        var url = loc.split("/");
        var actionName = url[2];
        //(actionName);
        $('div.checkbox-group').each(function (k, v) {
            if ($(this).find("a").attr("data-url") == actionName) {
                $(this).find("a").removeClass("btn-danger");
                $(this).find("a").addClass("btn-success");
            }
        });


    });
</script>
