@model Shoper.Entities.Category

@{
    ViewData["Title"] = "Create";
}

<h4>Kategori Ekleme Formu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
               
                <input type="hidden" asp-for="CategoryId" class="form-control" />
                
            </div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Resim </label>
                <input type="file" name="img" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Index">Anasayfa</a>
            </div>
        </form>
    </div>
</div>


